.todo-list h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .todo-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-list li {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-color);
  }
  body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image:url("../MPC_2/images/BG.gif"); 
    background-repeat: no-repeat;
  }
  
  /* container */
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar {
    position: relative;
    width: 100%;
    max-width: 650px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 5px 0 18px -3px #45f3ff;
  
  }